################  nginx base config  ################
################ 
################  taken from the default /etc/nginx/nginx.conf provided by centos 
user www-data;
worker_processes 4;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 49152;
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;



################  default config for the transparent cache  ################

# do not disclose the nginx version
server_tokens off;

# forward the SNI extension
proxy_ssl_server_name on;

proxy_buffering on;
proxy_http_version 1.1;

proxy_cache_path /var/cache/main_cache levels=1:2 keys_zone=main_cache:<%= @cache_keys_zone_size or "8m" %>
        max_size=<%= @cache_size or "2g" %>
	inactive=365d 
	# use_temp_path=off
        ;

proxy_cache main_cache;
proxy_cache_revalidate on;

# add a 'X-Proxy-Cache' header in the response with the cache status
# (HIT, MISS, REVALIDATE, ...)
add_header X-Proxy-Cache $upstream_cache_status;

# log format for transparent cache requests
#  - logs $upstream_cache_status (eg: HIT MISS ...)
#  - logs protocol and host ($scheme://$host$request_uri)
log_format  transparent_cache_log  '$remote_addr - $remote_user [$time_local] $upstream_cache_status "$request_method $scheme://$host$request_uri" '
                 '$status $body_bytes_sent "$http_referer" '
                 '"$http_user_agent" "$http_x_forwarded_for"';

# write logs to cache.log
access_log  /var/log/nginx/cache.log  transparent_cache_log;

# DNS resolver
# Note: we disable ipv6 by default (resolver will look only for 'A' records)
resolver <%= @dns_resolvers or "127.0.0.11" %> ipv6=<%= @dns_allow_ipv6 ? "on" : "off" %>;


################  vservers  ################

# Generic server (applies to most cached domains)
server {
        listen		80;
        server_name	"cache";

	include /etc/nginx/nginx-cache-generic.conf;
}
server {
	listen		443;
	server_name	"cache";

	# enable TLS
	include			/etc/nginx/nginx-ssl.conf;
	ssl_certificate		/etc/nginx/cache.crt;
        ssl_certificate_key	/etc/nginx/cache.key;

	include /etc/nginx/nginx-cache-generic.conf;
}

# Special config for the official docker registry
server {
	listen		443;
	server_name	"registry-1.docker.io";

	include			/etc/nginx/nginx-ssl.conf;
	ssl_certificate		/etc/nginx/cache.crt;
        ssl_certificate_key	/etc/nginx/cache.key;

	location /
	{
		proxy_pass	$scheme://$host; 

                # We do not cache the responses because:
                # - requests may be authenticated (we prefer all requests to go
                #   through the upstream registry to enforce authentication)
                # - images blobs are actually not hosted directly on the registry
                #   but on the cloudflare CDN (production.cloudflare.docker.com),
                #   requests for blobs are replied with '307 Redirect'
                proxy_cache     off;

                # follow the redirections sent by the upstream server
		proxy_intercept_errors on;
		error_page 307 = @registry_redirects;
	}

	location @registry_redirects
	{
		set $saved_redirect_location '$upstream_http_location';
		proxy_pass 	$saved_redirect_location;
		proxy_redirect	$saved_redirect_location $scheme://$host/;

		proxy_cache_valid 200 301 302 1h;

                # Ignore the query string for computing the cache key because
                # the redirection urls include an auth token (?verify=XXXXXXX)
                # specific to cloudflare.
                # 
                # This is safe since the Registry API never uses query string
                # arguments for GET/HEAD requests.
		proxy_cache_key "$request_method$scheme$host$request_filename";

                # Wipe out the cookies in the responses
                #
                # Cloudflare add its own cookie to the responses. This has no
                # useful purpose in the Registry API, but it prevents nginx
                # from caching the responses (by default nginx does not cache
                # responses containing cookies, because this would leak
                # secrets)
                # 
                # This is save since the Registry API does not use any cookie.
		proxy_ignore_headers "Set-Cookie";
		proxy_hide_header    "Set-Cookie";
	}
}


# Local server (serving static files)
server {
	listen		80;
	server_name	<%= @cache_server_name || "dockerhost" %>;

	access_log  /var/log/nginx/access.log  main;

        # plain-HTTP server returns 404 for all requests
	return 404;

}
server {
	listen		443;
	server_name	<%= @cache_server_name || "dockerhost" %>;

	access_log  /var/log/nginx/access.log  main;

	include			/etc/nginx/nginx-ssl.conf;
	ssl_certificate		/etc/ctproxy/certs/cache-server.crt;
        ssl_certificate_key	/etc/ctproxy/certs/cache-server.key;

        # HTTPS server serves static files needed for the config
        #  - the cache CA certificate (that is rotated periodically)
        #  - the list of domains to be intercepted
	root /etc/nginx/html;
}



}
